In [ ]:
print('Hello World!')
a=7
print(a)

Hello World!
7

In [ ]:
print(555)

555

In [ ]:
print("786")

786

In [ ]:
a = 100
#print(a)
b = "AI Lab"
print(b)

AI Lab

In [ ]:
print('''It's a course
named
"python"

hf''')
print(6)

It's a course
named
"python"

hf
6

In [ ]:
print("Let's learn about comments.")
# print(it is a single line comment)
print("Icode")

Let's learn about comments.
Icode

In [ ]:
print("""Multi-line String""")
print('''for multi-line comment, you can use # with every line or
simply use triple inverted commas(multi-line string).
ar
sar
ahghjj 
''')
print("single line")

print("My name is Usama. I'm a student at COMSATS University.I'm a good student.")

Multi-line String
for multi-line comment, you can use # with every line or
simply use triple inverted commas(multi-line string).
ar
sar
ahghjj

single line
My name is Usama. I'm a student at COMSATS University.I'm a good student.

In [ ]:
a = "a variable"
u = "won't allow a variable"
print(a)
print(u)

a variable
won't allow a variable

In [ ]:
x = 5 
y = 10.3
print('x')
print(y)
print(x,y)

x
10.3
5 10.3

In [ ]:
a = "UB"
b = 'Creatives,'
print(a,b)
print(a,',',b)   #Shortcut ctrl + /

UB Creatives,
UB , Creatives,

In [ ]:
myvariable = "Python"
print(myvariable)

Python

In [ ]:
_myVar5 = "UB_creatives"
myVariableName = 95                 
MyVariableName = 'Pakistan'         
myVariableName = 88.5 
print(myVariableName)

88.5

In [ ]:
a = 10
a = 5
print(a)

5

In [ ]:
camelCase = 100
snake_case = 5.9
PascalCase = "Python"
print(snake_case)

5.9

In [ ]:
x, y, z = "Orange", 5, "Apple"
print(x)
print(y)
print(z)
a , b = 5 , 8
print(a)
print(b)

Orange
5
Apple
5
8

In [ ]:
x = y = z = "Orange"
print(x)
print(y)
print(z)
a = b = c = 1
print(a)
print(b)
print(c)

Orange
Orange
Orange
1
1
1

In [ ]:
b = 2
print(b)

2

In [ ]:
# b = 45
print(b)

2

In [ ]:
x , y, z , a = 5 , 6, 7  , 8
print(x)
print(y)
print(z)

5
6
7

In [ ]:
x = 5
y = 5
x = 10
print(x)
print(y)
print(id(x))
print(id(y))

10
5
9793376
9793216

In [ ]:
x = "Hello"
print(id(x))
y = "Hello1"
print(id(y))

140299919737712
140299918941872

In [ ]:
string_var = "Programming"
first_var = 20
float_var = 18.23
bool_var = False

print(string_var)
print(first_var)
print(float_var)
print(bool_var)

Programming
20
18.23
False

In [ ]:
Var1 = 5
var1 = 9
print(var1)
print(Var1)
var2 = 2.5
print(type(var2))
var3 = """Hello"""
print(type(var3))
var4 = True
print(type(var4))

9
5
<class 'float'>
<class 'str'>
<class 'bool'>

In [ ]:
first = "105"
print(type(first))
first = int(first)
print(first)
print(type(first))
second = 90.8
third = str(second)
print(third)
print(type(third))

<class 'str'>
105
<class 'int'>
90.8
<class 'str'>

In [ ]:
string = False
string1 = str(string)
print(string1)
print(type(string1))

False
<class 'str'>

In [ ]:
integer = 6
boolean = bool(integer)
print(boolean)

True

In [ ]:
boolean = True
integer = int(boolean)
print(integer)

1

In [ ]:
x = int(input("Enter anything: "))
#print(x + 5)
#print(type(x))

Enter anything: 2

In [ ]:
print('My name is Usama.')
a = "6"

My name is Usama.

In [ ]:
x = "Python is"
X = bool(x)
print(X)
print(type(X))

True
<class 'bool'>

In [ ]:
print(8.0+4)

12.0

In [ ]:
a = int(input("Enter Digit: "))
print(a)
print(type(a))
print(a+2)

Enter Digit: 3
3
<class 'int'>
5

In [ ]:
#Addition
a = int(input("Enter a number "))
b = 4
c = a + b
print(c)
print(type(c))
#print(3 + 7)

Enter a number 4
8
<class 'int'>

In [ ]:
#Subtraction
a = 4
b = 5.0

print(a - b)
print(type(a - b))

-1.0
<class 'float'>

In [ ]:
#Multiplication
a = 2.0
b = 4
print(a*b)
print(type(a*b))

8.0
<class 'float'>

In [ ]:
#Division
x = 5
y = 5
z = x/y   #5/5
print(z)
print(type(z))
var = int(z)
print(var, type(var))

1.0
<class 'float'>
1 <class 'int'>

In [ ]:
#Floor Division
x = 5
y = 5
z = x//y
print(z)
print(type(z))

1
<class 'int'>

In [ ]:
print(-3/2)

-1.5

In [ ]:
#Exponentiation or Exponential
x = 5
y = 2   # 5 raised to power 2, 5*5
print(x**y)  # 1st value = base, 2nd value = power
print(type(x**y))

25
<class 'int'>

In [ ]:
#Modulus
x = 5
y = 5
print(x%y)
print(type(x%y))

0
<class 'int'>

In [ ]:
print(4 * 3 + 2 / 2)
# BODMAS

13.0

In [ ]:
#print('comment')
a = """mulitiline
comment
""
''
lsdfh"""
print(a)

mulitiline
comment
""
''
lsdfh

In [ ]:
print(12 + 5 * (4 - 2))

22

In [ ]:
x = 5
#x += 3    # x = x+3
#x -= 3      # x = x - 3
#x *= x       # x = 5*5
#x /= 3        # x = x/3
#x %= 3
#x //= 3
x **= 3       
print(x)

125

In [ ]:
x = 5
x **= 5    #x = x**5
print(x)

3125

In [ ]:
a = 7
b = 10
print(a!=b)
#print(a==b)
#print(a<b)

True

In [ ]:
x = 9
#print(x < 11 and  x < 10)
print(x < 5 or x < 10)
print(not x < 5 and not x < 10)
print(not x > 10)

True
False
True

In [ ]:
x = 9
print(not x>10)

True

In [ ]:
a = 20
b = 70
print(a==b or a>b)

False

In [ ]:
var1 = "Python for Beginners"
#print("p" in var1)
var2 = ["orange", 5, "3.5"]
#print("orange" not in var2)

print("o" in "iCodeGuru")

True

In [ ]:
var1 = "Python for Beginners"
print("python" not in var1)

True

In [ ]:
a = 10
b = 10

print(a is b)
print(id(a))
print(id(b))

True
9793376
9793376

In [ ]:
a = 10
b = "10"
#a = 11
print(a is b)
print(id(a))
print(id(b))

False
9793376
140300975520112

In [ ]:
x = "Python"
print(x)
y = 'Programming'
print(y)

Python
Programming

In [ ]:
message1 = """Hello there, I am learning
python programming language!"""
print(message1)
message2 = '''

Now, we are learning about 
multiline string'''
print(message2)

Hello there, I am learning
python programming language!


Now, we are learning about
multiline string

In [ ]:
x = "String"
y = "Concatenation"
print(x + y)
z = x + " " + y  #z = StringConcatenation

print(z)

StringConcatenation
String Concatenation

In [ ]:
x = "Hello"
print(x[4])
print(x[0])
print(id(x))

print(id(x[0]))
print(id(x[1]))
message = """Hello there, I am learning
python programming language!"""
print(message[6])

o
H
140299919737712
140300980509040
140300980952816
t

In [ ]:
x = "Enter"
print(id(x))
print(id(x[0]))

140300963406320
140300980508848

In [ ]:
x = "Pakistan "
print(x*5)

Pakistan Pakistan Pakistan Pakistan Pakistan

In [ ]:
x = "Hello"
print(id(x))
print(id(x[3]))

140299919737712
140300981030640

In [ ]:
list1 = [2, 3, 4, 66]     #[66, 3, 4, 2]
list1[0] = list1[3]
print(list1)

[66, 3, 4, 66]

In [ ]:
string = "Python Programming Language"
# print(string[2])
print(len(string))
x = len(string)
print(x)

27
27

In [ ]:
string = "Python Programming"
print(string.index("P"))
index = string.index("y")
print(index)

0
1

In [ ]:
for iterator in "hello+":
  print(iterator)
for x in "Python":
   print("1")

h
e
l
l
o
+
1
1
1
1
1
1

In [ ]:
def isPalindrome(word):
  x=word[::-1]
  if x.capitalize()==word.capitalize():
    return True
  else:
    return False
print(isPalindrome("deed"))

True

In [ ]:
word=input("Enter word: ")
def isPalindrome(word):
  x=word[::-1]
  
  print(x.upper())
  if x.capitalize()==word.capitalize():
     
    return True
  else:
    return False
   
print(isPalindrome(word))

Enter word: usama
AMASU
False

In [ ]:
a = [ [[1, 0, 0], [0, 1, 0], [0, 0, 1] ],
      [[1, 2, 3], [4, 5, 6], [7, 8, 9] ] ]


print(a[-1][0][-1])

3

In [ ]:
a = [[1, 0, 0], [0, 1, 0], [0, 0, 1] ]

print(a[2][2])

1

In [ ]:
a = [[1, 0, 0], [0, 1, 0], [0, 0, 1]]
b = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
c = []

for indrow in range(3):
  c.append([])
  for indcol in range(3):
    c[indrow].append(0)
    for indaux in range(3):
      c[indrow][indcol] += a[indrow][indaux]*b[indcol][indaux]
print(c)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [ ]:
def perimeter (listing) :
  leng=len(listing)
  perimeter=0;
  for i in range (0,leng-1):
    dist = (((listing[i][0]-listing[i+1][0])**2) + ((listing[i][1]-listing[i+1][1])**2))**0.5
    perimeter = perimeter + dist
  perimeter = perimeter + (((listing[0][0]-listing[leng-1][0])**2) + ((listing[0][1]-listing[leng-1][1])**2))**0.5
  return perimeter
L = [(1,3), (2,7), (3,9), (-1,8)] 
print (perimeter(L))

15.867444035869614

In [ ]:
def symmDiff (a,b):
  e=set() 
  for i in a: 
    if i not in b:
      e.add (i)
  for i in b: 
    if i not in a:
      e.add (i)
  return e

setl={0,1,2,4,5}
set2={4,5,7,8,9}
symdif = symmDiff (setl,set2)
print (set(symdif))

print (setl.symmetric_difference (set2))
print (set2.symmetric_difference (setl))
print (setl^set2)
print (set2^setl)

{0, 1, 2, 7, 8, 9}
{0, 1, 2, 7, 8, 9}
{0, 1, 2, 7, 8, 9}
{0, 1, 2, 7, 8, 9}
{0, 1, 2, 7, 8, 9}

In [ ]:
sample = { ("Ahmad","Ali") : "0326-6885589", ("Usama","Bilal") : "0311-1611854",
         ("Awais","Ali") :"0311-1111110",}

firstName = input ("Enter First name: ")
lastName = input ("Enter Last name: ")

searchTuple = (firstName, lastName)
if searchTuple in sample:
  print (sample [searchTuple])
else:
  print ("name not found")

Enter First name: Awais
Enter Last name: Ali
0311-1111110

In [22]:
graph = {
'5' : ['3','7'],
'3' : ['2', '4'],
'7' : ['8'],
'2' : [],
'4' : ['8'],
'8' : []
}
visited = [] 
queue = []     
def bfs(visited, graph, node): 
  visited.append(node) 
  queue.append(node)
  while queue:
    m = queue.pop(0)
    print (m, end ="  ")
    for neighbour in graph[m]:
      if neighbour not in visited: 
        visited.append(neighbour) 
        queue.append(neighbour)
print("Following is the Breadth-First Search")
bfs(visited, graph, '5')

Following is the Breadth-First Search
5  3  7  2  4  8

In [21]:
graph = {
    'A': ['C', 'E'],
    'B': ['D', 'E'], 
    'C': ['A', 'F', 'G'], 
    'D': ['B', 'E'], 
    'E': ['A', 'B', 'D'], 
    'F': ['C'], 
    'G': ['C'] 
}
visited = [] 
queue = []     
def bfs(visited, graph, node): 
  visited.append(node) 
  queue.append(node)
  while queue:
    m = queue.pop(0)
    print (m, end =" ")
    for neighbour in graph[m]:
      if neighbour not in visited: 
        visited.append(neighbour) 
        queue.append(neighbour)
print("Following is the Breadth-First Search")
bfs(visited, graph, 'B')

Following is the Breadth-First Search
B D E A C F G